/*================================= body styles =================================*/
body {
    font-family: 'Playfair Display', serif;
}

img#home-plant {
  position: absolute;
  height: 180px;
  left: -15px;
  top: 15px;
}

/*================================= nav bar ====================================== */

#nav, img.menu {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 15px;
}

a {
  text-decoration: none;
  color: #000000;
}

/*================================= header styles =================================*/


/*================================= main styles =================================*/

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  height: 65vh;
  margin-top: 22vh;
}

h1 {
  text-align: center;
  width: 80vw;
  font-size: 20pt;
  letter-spacing: .2vw;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: #49ACB7;
  font-weight: 400;
  text-align: center;
  width: 60vw;
  font-size: 13pt;
  margin: 0;
  line-height: 3.5vh;
}

img.home {
  width: 90%;
  justify-self: center;
}
/*================================= homepage footer styles =================================*/
footer {
    width: 100%;
    min-height: 30px;
    text-align: center;
    position: absolute;
    bottom: .5vh;
  }

  img.jump {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 85px;
    z-index: -1;
  }
  
  footer .copyright {
    top: -8px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    margin: 2px;
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: all .5s;
    opacity: 100%;
  }
  a#twitter {
    background-image: url(images/social/twitter.png);
  }
  a#linkedin {
    background-image: url(images/social/linkedin.png);
  }
  a#github {
    background-image: url(images/social/github.png);
  }
  a#email {
    background-image: url(images/social/email.png);
  }
  a#medium {
    background-image: url(images/social/medium.png);
  }
  
/*================================= ProjectPage styles =================================*/

img#home-plant-2{
  position: absolute;
  height: 165px;
  left: -30px;
  top: 15px;
}

div#project-collection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

img.thumbnail {
  width: 70%;
  margin: 0 auto;
}

div#project-collection h1 {
  margin: 10vh auto 9vh auto;
}

div.project h2 {
  margin: auto;
  font-weight: 700;
  font-size: 12pt;
  margin: 10px auto;
}

div.project p {
  width: 70%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  font-size: 9pt;
}

div.project ul {
  list-style-type: none;
  padding: 0;
  margin: 10px auto;
  width: 70%;
}

div.project li.lang {
  display: inline-block;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 4px;
  border-radius: 5%;
  margin: 3px;
  font-size: 8pt;
}

li.lang:nth-child(even) {
  background-color: #49ACB7;
}

li.lang:nth-child(odd) {
  background-color: #f5a83f;
}

div.project {
  margin-bottom: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 95%;
}

div.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 10px;
}

button:hover {
  opacity: 70%;
}

button.github {
  background-image: url(./images/social/github.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

button.demo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background-color: #d0690d;
  border: none;
  color: #ffffff;
  padding: 6px;
  border-radius: 10%;
}

/*================================= tablet breakpoint =================================*/

@media screen and (min-width: 720px) {
    

}

/*================================= desktop breakpoint =================================*/

@media screen and (min-width: 720px) {
    
    a.social {
        opacity: 100%;
    }

    a.social:hover {
        opacity: 70%;
    }
}
